body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(https://sfondo.info/i/original/d/1/0/12344.jpg);

  }
  #art{
    display: flex;
    flex-direction: column;
    height: 100vh;

  }
  .container{
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
  }
  .color{
    color: white;
  }
  h1{
    font-size: 50px;
    margin-bottom: 0px;
  }
  form{
    font-size: 25px;
  }
  #content, #tipo, #submit{
    border: 1px solid white;
  }
  form{
    margin-left: 5px;
  }
  
  span{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: grey;
    font-size: 15px;
  }
  #Sugg{
    font-size: 14px;
  }
  #view {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 68%;
    margin-left:220px;
  }
  #view img {
    max-width: 100%;
    max-height: 80%;
  }
  .opera {
    margin: 10px;
    padding: 10px;
    width: 300px;  
    height: 400px; 
    display: flex;
    flex-direction:column;
    background-color: aquamarine;
  }
  .opera:hover{
    background-color: aliceblue;
  }
  .opera_non_trovata{
    font-size: 30px;
    color: white;
  }
  footer{
    height: 70px;
    width: 100%;
    background-color: aquamarine;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
   }